@import url(normalize.css);

$background: rosybrown;
$textarea-color: rgb(240, 240, 240);
$main-color: rgb(48, 48, 48);
$main-key-color: rgb(230, 214, 214);
$side-key-color: rgb(181, 186, 178);
$active-key-color: rgb(216, 191, 191);

body {
    padding: 0;
    margin: 0;
    background-color: $background;
    color: $main-color;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    min-width: 800px;
    margin: 50px auto 0 auto;
    flex-direction: column;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    width: 830px;
    justify-content: center;
    margin: 30px auto 0 auto;
}

textarea {
    font: inherit;
    font-size: 20px;
    width: 476px;
    height: 115px;
    padding: 20px;
    margin: 0 auto;
    outline: none;
    border: 1px solid $textarea-color;
    background-color: $textarea-color;
}

.key {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: $main-key-color;
    border: 1px solid $main-color;

    justify-content: center;
    align-items: center;

    user-select: none;

    &:active {
        background-color: $active-key-color;
    }
}

.side-key {
    width: auto;
    min-width: 25px;
    background-color: $side-key-color;
    padding: 0 10px;
}